.main {
  @apply h-1/2 bg-cover bg-right rounded-b-lg flex flex-col justify-between py-14 text-white;
}

/* .main {
  background-image: url("../../../public/assets/sunny-bg.jpg");
} */

/* .overlay {
  @apply absolute top-0 left-0 w-full h-full bg-opacity-40 bg-gray-900 z-10;
} */

.top {
  @apply flex flex-col gap-2;
}

.date {
  @apply text-center text-2xl;
}

.position {
  @apply text-center uppercase text-4xl font-bold;
}

.position span {
  @apply text-lg font-normal;
}

.bottom {
  @apply flex items-center justify-center gap-12;
}

.bottomright {
  @apply text-right flex flex-col gap-6 text-xl;
}

.temp {
  @apply text-4xl font-bold;
}

.bottom img {
  @apply h-28 w-28;
}

.ldsring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.ldsring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
